.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 60px 0;
}

.input {
  @include input();
  border-top: 2px solid $blue;
  border-bottom: 2px solid $blue;
  border-left: 2px solid $blue;

  @media screen and (min-width: 600px) {
    width: 500px;
  }
}

.button {
  @include button($background: $blue);
  height: 44px;
  margin: 0 0 0 -10px;
}