.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 60px 0;
}

.input {
  @include input();
  border-top: 2px solid $darkBlue;
  border-bottom: 2px solid $darkBlue;
  border-left: 2px solid $darkBlue;
  margin: 0 0 0 20px;

  @media screen and (min-width: 600px) {
    margin: 0;
  }
}

.button {
  @include button($background: $darkBlue);
  height: 44px;
  margin: 0 20px 0 -10px;

  @media screen and (min-width: 600px) {
    margin: 0 0 0 -10px;
  }
}
