.header {
  background-color: $blue;
  padding: 5px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer {
  @include font($color: $white);
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $gray;

  @media screen and (min-width: 560px) {
    flex-direction: row;
  }
}

.footer span {
  margin: 0 10px;
}
