.boxFollow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    margin: 20px 0 0 0;
    width: 100%;
    border-top: 0.5px solid $gray;
    text-align: center;
}

.boxFollow h6, .boxFollow p{
    @include font(true, $black)
}

.boxFollow h6{
    font-weight: 700;
}

