* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  cursor: pointer;
  background-color: #2eaee8;
}

a,
a:link,
a:hover,
a:visited {
  text-decoration: none;
}

ul,
li,
ol {
  list-style: none;
}
